In [1]:
#Import the dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
#Store the CSV you created in part one into a DataFrame.
city_data_sorted_df = pd.read_csv("weather_data/cities.csv")
city_data_sorted_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hailar,CN,2021-10-25 17:02:36,49.2000,119.7000,33.73,80,81,7.99
1,1,Iqaluit,CA,2021-10-25 17:03:35,63.7506,-68.5145,31.66,77,93,5.28
2,2,Punta Arenas,CL,2021-10-25 17:05:32,-53.1500,-70.9167,42.82,70,40,26.46
3,3,Saint-Joseph,RE,2021-10-25 17:05:32,-21.3667,55.6167,73.78,79,33,12.95
4,4,Labuan,MY,2021-10-25 17:05:33,5.2767,115.2417,78.96,79,100,2.89

In [3]:
city_data_sorted_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature.
##max_temp = city_data_sorted_df["Max Temp"]
##temps = []
##for temp in max_temp:
##    temps.append(max(temp, 0))

In [6]:
# 1.Assign the locations to an array of latitude and longitude pairs.
locations = city_data_sorted_df[["Lat", "Lng"]]

# 2.Assign the weights variable to some values.
max_temp = city_data_sorted_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_sorted_df[["Lat", "Lng"]]
humidity = city_data_sorted_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_sorted_df[["Lat", "Lng"]]
clouds = city_data_sorted_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speeds
locations = city_data_sorted_df[["Lat", "Lng"]]
winds = city_data_sorted_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a min and max temp value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_sorted_df.loc[(city_data_sorted_df["Max Temp"] <= max_temp) & (city_data_sorted_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Labuan,MY,2021-10-25 17:05:33,5.2767,115.2417,78.96,79,100,2.89
5,5,Maningrida,AU,2021-10-25 17:05:34,-12.0667,134.2667,80.91,78,99,5.21
9,9,Atuona,PF,2021-10-25 17:04:30,-9.8000,-139.0333,77.13,77,72,15.93
18,18,Denpasar,ID,2021-10-25 17:05:40,-8.6500,115.2167,82.06,74,40,2.30
25,25,Kavieng,PG,2021-10-25 17:05:44,-2.5744,150.7967,81.32,76,10,4.68
26,26,Tautira,PF,2021-10-25 17:05:44,-17.7333,-149.1500,75.22,79,86,4.21
29,29,Georgetown,MY,2021-10-25 17:01:26,5.4112,100.3354,82.33,86,20,0.00
37,37,Ampanihy,MG,2021-10-25 17:05:51,-24.7000,44.7500,76.10,78,2,9.62
39,39,San-Pedro,CI,2021-10-25 17:05:52,4.7485,-6.6363,80.19,78,97,10.00
42,42,Sulangan,PH,2021-10-25 17:05:54,11.1373,123.7228,82.67,78,96,10.67

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
#Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4       Labuan      MY     78.96   5.2767  115.2417
5   Maningrida      AU     80.91 -12.0667  134.2667
9       Atuona      PF     77.13  -9.8000 -139.0333
18    Denpasar      ID     82.06  -8.6500  115.2167
25     Kavieng      PG     81.32  -2.5744  150.7967
26     Tautira      PF     75.22 -17.7333 -149.1500
29  Georgetown      MY     82.33   5.4112  100.3354
37    Ampanihy      MG     76.10 -24.7000   44.7500
39   San-Pedro      CI     80.19   4.7485   -6.6363
42    Sulangan      PH     82.67  11.1373  123.7228

In [ ]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df